/build/
### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
private.xml
private.properties
nbproject/private/private.properties
nbproject/private/private.properties
